nav a{
    color:navy;
    text-decoration: none;
}

nav ul li:first-child{
    font-weight: bold;
}

nav ul li:last-child{
    font-style: italic;
}

h2{
    font-weight: bold;
}

.content > .highlighted > article > p{
    background-color: #ADD8E6;
}

.content h2::before{
    content:"<< ";
    color:#850000;
}

.content > section h2::after{
    content: " >>";
    color:#850000;
}

img[src^="https://"]{
    border: 10px solid red;
}