body {
    background-color: #eee;
}

.container {
    display: flex;
    margin: 40px 60px;
    width: 80%;
    background-color: white;
    padding: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 3px;
    font-family: sans-serif;
    flex-wrap: wrap;
    gap: 12px;
}

.flex-item {
    padding: 20px;
    border: 1.5px solid #ABABAB;
    border-radius: 3px;
    font-size: 0.8em;
}

header.flex-item,
footer.flex-item {
    flex-basis: 100%;
}

.container main{
    flex-grow: 7;
}

.container aside {
    flex-grow: 3;
}

.container.second > header {
    order: 1;
}

.container.second > aside {
    order: 2
}
.container.second > main {
    order: 3
}

.container.second > footer {
    order: 4
}