*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #EEEEEE;
    font: 14px "Lato", sans-serif;
    display: flex;
    min-height: 100vh;
}

article {
    display: flex;
    max-width: 600px;
    margin: auto;
    background-color: white;
    border-radius: 5px;
    padding: 30px;
    flex-direction: column;
    gap: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

ul {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
}